@import url('https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap');
$text: 'DM Sans', sans-serif;
$title: 'Inter', sans-serif;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-color: #fafbfdd3
}

main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

    .account-actions {
        width: 100%;
        padding: 0 15px;

        .account-actions-container {
            max-width: 600px;
            margin: 0 auto;
            padding: 25px 25px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px;
            border-radius: 5px;
            background-color: #fff;

            .account-actions-body {
                text-align: center;
                .action-title {
                    padding: 0 0 20px 0;
                    text-align: left;
                    font: 1.13rem $title;
                    letter-spacing: 1px;
                    color: #4067f9;
                }
                .form-row {
                    display: grid;
                    .input-container {
                        width: 100%;

                        label {
                            display: block;
                            text-align: left;
                            font: 1rem $text;
                            letter-spacing: 0.7px;
                            color: #525252;
                        }

                        input[type=text],
                        input[type=password] {
                            width: 100%;
                            margin: 10px 0 20px 0;
                            padding: 10px 0 10px 8px;
                            font: 1rem $text;
                            color: #999999;
                            letter-spacing: 1px;
                            border: none;
                            border-radius: 5px;
                            background-color: #d0d7fc2d;
                            outline: none;
                            transition: all 0.2s;
                        }
                        input[type=text]:hover, input[type=text]:focus,
                        input[type=password]:hover, input[type=password]:focus {
                            background-color: #e8ebfdb9;
                            color: #5e5e5e;
                        }
                    }
                }
                .submitBtn {
                    display: block;
                    width: 100%;
                    padding: 8px 0;
                    margin-bottom: 15px;
                    font: 0.96rem $text;
                    border: 2px solid #ecefff93;
                    border-radius: 5px;
                    background-color: #ecefff1f;
                    color: #a3a3a3;
                    outline: none;
                    transition: all 0.15s;
                }
                .submitBtn:hover {
                    cursor: pointer;
                    border: 2px solid #4067f9;
                    background-color: #4067f9;
                    color: #ffffff;
                }
                .action-link {
                    font: 0.91rem $text;
                    text-align: center;
                    text-decoration: none;
                    color: #c5c4c4;
                    transition: all 0.15s;
                }
                .action-link:hover {
                    color: #525252;
                }
            }
        }
    }
}

@media (min-width: 500px) {
    main {
        .account-actions {
            .account-actions-container {
                .account-actions-body {
                    #double-input {
                        display: grid;
                        gap: 10px;
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
    }    
}